repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        exclude: gh_action/index.js
      - id: check-ast
      - id: check-json
        exclude: .vscode/.*\.json
      - id: check-toml
      - id: check-yaml
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: end-of-file-fixer
        # exclude all generated files
        exclude: |
            (?x)^(
                deno.lock|
                gh_action/index.js
            )$
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.0
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages:
          - commit-msg
  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'deno fmt'
        pass_filenames: false
        types:
          - ts
      - id: deno-check
        name: Deno check
        language: system
        entry: bash -c 'deno task check'
        pass_filenames: false
        types:
          - ts
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'deno lint'
        pass_filenames: false
        types:
          - ts
