on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

env:
  DENO_VERSION: "1.42.1"
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GHJK_LOG_PANIC_LEVEL: error
  DENO_DIR: .deno-dir

jobs:
  test-e2e:
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            e2eType: "docker"
          - os: macos-latest
            e2eType: "local"
          - os: macos-14
            e2eType: "local"
          # - os: windows-latest
          #   e2eType: "local"
    env:
      GHJK_TEST_E2E_TYPE: ${{ matrix.e2eType }}
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - if: "${{ matrix.os == 'macos-latest' || matrix.os == 'macos-14' }}"
        # we need coreutils on max for the `timeout` command
        run: brew install fish zsh coreutils
      - name: Cache deno dir
        if: "${{ matrix.os == 'macos-latest' || matrix.os == 'macos-14' }}"
        uses: actions/cache@v4
        with:
          path: ${{ env.DENO_DIR }}
          key: deno-mac-${{ hashFiles('**/deno.lock') }}

      - if: "${{ matrix.e2eType == 'docker' }}"
        uses: docker/setup-buildx-action@v3
      - if: "${{ matrix.e2eType == 'docker' }}"
        uses: actions-hub/docker/cli@master
        env:
          SKIP_LOGIN: true
      
      - run: deno task test

  test-action:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: metatypedev/setup-ghjk@a94fedd7988769ad9e86cb0c7d373f1032266f69
        with:
          installer-url: ./install.ts
        env: 
          GHJKFILE: ./examples/protoc/ghjk.ts
      - run: |
          cd examples/protoc
          . $(ghjk print share-dir-path)/env.sh
          protoc --version
