name: nightly jobs
on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

env:
  DENO_VERSION: "2.2.4"
  GHJK_LOG: debug
  GHJK_LOG_PANIC_LEVEL: error
  DENO_DIR: .deno-dir
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  test-e2e:
    timeout-minutes: 60
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            platform: linux/x86_64
          - os: ubuntu-22.04-arm
            platform: linux/aarch64
          - os: macos-13
            platform: darwin/x86_64
          - os: macos-14
            platform: darwin/aarch64
          # - os: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dsherret/rust-toolchain-file@v1
      - uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ env.DENO_VERSION }}
      - name: Cache deno dir
        uses: actions/cache@v4
        with:
          path: ${{ env.DENO_DIR }}
          key: deno-${{ hashFiles('**/deno.lock') }}
      - if: "${{ matrix.os == 'ubuntu-22.04' || matrix.os == 'ubuntu-22.04-arm' }}"
        # need coreutils on max for the `timeout` command
        # need cmake to build the rust deps
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends fish zsh cmake
      - if: "${{ matrix.os == 'macos-13' || matrix.os == 'macos-14' }}"
        # need cmake to build the rust deps
        # need coreutils on max for the `timeout` command
        run: brew install fish zsh coreutils cmake
      - run: deno task test

  # test-action:
  #   runs-on: ubuntu-22.04
  #   steps:
  #     - uses: actions/checkout@v5
  #     - uses: metatypedev/setup-ghjk@318209a9d215f70716a4ac89dbeb9653a2deb8bc
  #       with:
  #         installer-url: ./install.ts
  #       env:
  #         GHJKFILE: ./examples/protoc/ghjk.ts
  #     - run: |
  #         cd examples/tasks
  #         . $(ghjk print share-dir-path)/env.sh
  #         ghjk x hey
